@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

body {
    opacity: 1;
    transition: 2s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

.header {
    margin: 5px;
    margin-top: 20px;
    margin-bottom:120px;
    /*border-width: 2px;
    width: 15%;
    height: 400px;*/
    float: right;
    height: 12%;
    width: 100%;
}

.header #title {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  margin: 0px 30px;
  display: inline-block;
  font-size: 20px;
  float:left;
  color: #122B29;
}

.header button {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    float:right;
    background-color: #61BDB5;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
}

button:hover {
  background-color: #3C9089;
}

.leftCol {
  float: left;
  text-align: left;
  width: 50%;
  margin: 10px 25px;
}

.rightCol {
  width: 40%;
  margin: 10px 25px;
  float: right;

}
.leftCol span {
  font-size: 30px;
  color: #58595B;
  font-weight: normal;
  margin-bottom: 30px;
}

.rightCol span {
  font-size: 20px;
  color: #58595B;
  font-weight: normal;
  padding-bottom: 50px;
  margin: 30px 0px;
}

.signIn {
    font-size: 18px;
}