{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Taskpop</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />

    <!-- CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- Jquery -->
    <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/themes/black-tie/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- AWS Information -->
    <script src="{% static 'js/aws-sdk.min.js' %}"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.35.0.min.js"></script>
    <script src="{% static 'js/aws-cognito-sdk.min.js' %}"></script>
    <script src="{% static 'js/amazon-cognito-identity.min.js' %}"></script>


    <!-- Google OAuth -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="381942234330-s4s0o7nb0elv09gdvvfno0cotca456op.apps.googleusercontent.com">

    <!-- Personal JavaScript -->
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock %}
</head>


<body>
{% block navbar %}
<div class="nav" id="nav">
    <a href="{% url 'taskpop:home' %}">Home</a>
    <a href="{% url 'taskpop:edit' %}">Task List</a>
    <a href="#cal">Calendar</a>
    <a href="#settings">Settings</a>
    <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">&#9776;</a>
</div>
{% endblock %}
{% block content %}
{% endblock %}

</body>

</html>