{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/edit.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/edit.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="trash">
        <a href="" id="trashSelected"><img class="buttonimg" src="{% static 'img/Trash.png' %}"></a>
    </div>
    {% if tasks %}
        <table>
            <tr>
                <th class="inputDelete">Select</th>
                <th>Task</th>
                <th class="blowup">Blow Up Task</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td class="inputDelete"><input type="checkbox" name="trashInput" value="{{ task.id }}"></td>
                    <td id="{{ task.id }}" class="tableInfo">
                        <p>{{ task.name }}</p>
                        <p>{{ task.date }}</p>
                    </td>
                    <td class="blowup"><a href="{% url 'taskpop:blowup' task.id %}"><img src="{% static 'img/Bomb.png' %}"</a></td>
                </tr>

                <div id="{{ task.id }}_modal" class="modal">
                    <div class="modalContent">
                        <span id="{{ task.id }}_close" class="closeModal">&times;</span>
                        <h2 class="title">Edit Task</h2>
                        <form action="{% url 'taskpop:save' task.id %}" method="post">{% csrf_token %}
                            <label class="formLabel" for="task_name">Task Name</label>
                            <input class="modalInput" id="task_name" type="text" name="your_name" value="{{ task.name }}">
                            <label class="formLabel" for="task_date">Expected Deadline</label>
                            <input class="modalInput" id="task_date" type="datetime-local" name="task_date" value="{{ task.date }}">
                            <input class="submitModal" type="submit" value="Save">
                        </form>
                    </div>
                </div>

                <script>
                    $(function(){
                       $("#{{ task.id }}").click(function(event){
                          event.preventDefault();
                          var modal = document.getElementById("{{ task.id }}_modal");
                          modal.style.display = "block";
                          $("#{{ task.id }}_close").click(function(event){
                             modal.style.display = "none";
                          });
                       });
                    });
                </script>

            {% endfor %}
        </table>
    {% else %}
        <h1 class="title">You have no tasks available in your queue.</h1>
    {% endif %}
{% endblock %}