{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}


<!-- Lots of temporary, ungenerated content here. -->
{% block content %}
    <div class="greeting">Good evening, User. Your top three priorities are below.</div>
{#    <div>Good evening, {{ user.name }}. Your top three priorities are below.</div>#}

    <div class="topThree">
        <div class="card">
            <span>Task Name</span>
            <br>
            <span>4:30p.m. - December 25th, 2017</span>
            <br>
            <div class="complete"><a href="#complete">Complete</a></div>
        </div>
        <div class="card">
            <span>Task Name</span>
            <br>
            <span>4:30p.m. - December 25th, 2017</span>
            <br>
            <div class="complete"><a href="#complete">Complete</a></div>
        </div>
        <div class="card">
            <span>Task Name</span>
            <br>
            <span>4:30p.m. - December 25th, 2017</span>
            <br>
            <div class="complete"><a href="#complete">Complete</a></div>
        </div>
{#        {% if not tasks %}#}
{#            <div class="greeting">Good evening, {{ user }}. You don't have any pending tasks. Create one here!</div>#}
{#        {% else %}#}
{#        {% for task in tasks %}#}
{#            <div class="card">#}
{#                <span>{{ task.name }}</span>#}
{#                <br>#}
{#                <span>{{ task.date }}</span>#}
{#                <br>#}
{#                <div><a href="#complete">Complete</a></div>#}
{#            </div>#}
{#        {% endfor %}#}
{#        {% endif %}#}

    </div>
    <a href="{% url 'taskpop:edit' %}"><div class="edit">Edit or Reprioritize Task List</div></a>


{% endblock %}