{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}

<!-- Lots of temporary, static content here. -->
{% block content %}
    <div class="greeting">Good evening, {{ username }}. Your top three priorities are below.</div>
    <a href="" id="create" class="circleButton"><img src="static/img/Button.png" onmouseover="this.src='static/img/Hover.png'" onmouseout="this.src='static/img/Button.png'"></a>


    <div class="topThree">
        <div class="card">
            <span>Task Name</span>
            <br>
            <span>4:30p.m. - December 25th, 2017</span>
            <br>
            <div class="complete"><a href="{% url 'taskpop:complete' 1 %}">Complete</a></div>
        </div>
        <div class="card">
            <span>Task Name</span>
            <br>
            <span>4:30p.m. - December 25th, 2017</span>
            <br>
            <div class="complete"><a href="{% url 'taskpop:complete' 1 %}">Complete</a></div>
        </div>
        <div class="card">
            <span>Task Name</span>
            <br>
            <span>4:30p.m. - December 25th, 2017</span>
            <br>
            <div class="complete"><a href="{% url 'taskpop:complete' 1 %}">Complete</a></div>
        </div>
{#        {% if not tasks %}#}
{#            <div class="greeting">Good evening, {{ user }}. You don't have any pending tasks. Create one here!</div>#}
{#        {% else %}#}
{#        {% for task in tasks %}#}
{#            <div class="card">#}
{#                <span>{{ task.name }}</span>#}
{#                <br>#}
{#                <span>{{ task.date }}</span>#}
{#                <br>#}
{#                <div><a href="{% url 'taskpop:complete' {{ task.id }}  %}">Complete</a></div>#}
{#            </div>#}
{#        {% endfor %}#}
{#        {% endif %}#}

    </div>
    <a href="{% url 'taskpop:edit' %}"><div class="edit">Edit or Reprioritize Task List</div></a>


    <div id="createModal" class="modal">
        <div class="modalContent">
            <span id="close" class="closeModal">&times;</span>
            <h2 class="title">Create New Task</h2>
            <form action="{% url 'taskpop:create' %}" method="post">{% csrf_token %}
                <label class="formLabel" for="task_name">Task Name</label>
                <input class="modalInput" id="task_name" type="text" name="your_name">
                <label class="formLabel" for="task_date">Expected Deadline</label>
                <input class="modalInput" id="task_date" type="datetime-local" name="task_date">
                <input class="submitModal" type="submit" value="Create">

            </form>
        </div>

    </div>

{% endblock %}