{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Taskpop</title>
    <!-- CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Jquery Information -->
    <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/themes/black-tie/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.14/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <!-- Google OAuth -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="381942234330-s4s0o7nb0elv09gdvvfno0cotca456op.apps.googleusercontent.com">

    <!-- AWS Cognito -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.35.0.min.js"></script>

    <!-- Personal JavaScript -->
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>

<body>
  <script>document.body.className += 'fade-out';</script>
    <div>
        <div class="header">
          <div id="title">Welcome to Taskpop!</div>
          <button>Register</button>
        </div>
    </div>

    <div class="leftCol">
      <span>Welcome to Taskpop.</span><br>
      <span>Stay focused.</span><br>
      <span>One thing at a time.</span><br>
    </div>

    <div class="rightCol">
      <div style="text-align:left;"><span>Sign In</span></div>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</body>

</html>
