@import url('https://fonts.googleapis.com/css?family=Catamaran');


html {
    font-family: 'Catamaran', sans serif;
    background-color: #F7F7F7;
}

.nav {
    background-color: #3C9089;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: #F7F7F7;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #265a56;
    color: white;

}

.nav .icon {
    display: none;
}



@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
  }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
  }
}