table {
    display:inline-block
    text-align: center;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;ss
    width: 100%;
    font-size: 18px;
    border-collapse: separate;
    border-spacing: 5px;

}

th {
    font-size: 18px;
    background-color: #3C9089;
    color: #F7F7F7;
    border: none;
}

tr{
padding-bottom: 0px;
margin-bottom:0px;



}


.greeting {
    width: 60%;
    float: left;
    text-align: left;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 0px;

}
    
.inputDate {
    width: 10%;

}

.inputTask{
    width: 100%;

}


.inputMonth{
    font-size: 25px;
    color: #76bda2;
    font-weight: bold;
    border-right: solid #3C9089;
    padding-bottom:0px;


}

.inputDate{
    font-size: 18px;
    color: #3C9089;
    float:left;
    font-weight: bold;
    #border-right: solid #3C9089;
    #padding-bottom:0px;

}


.tableNormal {
    background-color: #EEEEEE;
    text-align: left;
    padding-left: 20px;
    color:#616161;
    transition: box-shadow 0.5s;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.tableNormal:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.tableBlowUp {
    background-color:#EF5350;
    text-align: left;
    padding-left: 20px;
    color:#616161;
    transition: box-shadow 0.5s;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.tableBlowUp:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

