.greeting {
    width: 100%;
    text-align: left;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.topThree {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* justify-content + align-self makes subdivs centered */
    width: 100%;
}

.card {
    align-self: center;
    padding-top: 5px;
    margin: 0px 10px;
    width: 30%;
    font-size: 18px;
    color: #3C9089;
    text-align: center;
    background-color: #DEDEDE;
    transition: box-shadow 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.complete {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3C9089;
}

.complete:hover {
    background-color: #265a56;
}

.complete a{
    text-decoration: none;
    color: #F7F7F7;
}


.edit {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    color: #F7F7F7;
    background-color: #3C9089;
    margin: 20px 10px;
    /*transition: box-shadow 0.5s;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}
.edit > a {
}

.edit:hover {
    background-color: #265a56;
    /*box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);*/
}



