.greeting {
    width: 60%;
    float: left;
    text-align: left;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 0px;
    color: #616161;
}

.topThree {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* justify-content + align-self makes subdivs centered */
    width: 100%;
}

.card {
    align-self: center;
    padding-top: 5px;
    margin: 0px 10px;
    width: 30%;
    font-size: 18px;
    color: #3C9089;
    text-align: center;
    background-color: #DEDEDE;
    transition: box-shadow 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.complete {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3C9089;
}

.complete:hover {
    background-color: #265a56;
    cursor: pointer;
}

.complete a{
    text-decoration: none;
    color: #F7F7F7;
}


.edit {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    color: #F7F7F7;
    background-color: #3C9089;
    margin: 20px 10px;
    /*transition: box-shadow 0.5s;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}
.edit > a {
}

.edit:hover {
    background-color: #265a56;
    cursor: pointer;
    /*box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.circleButton {
    float: right;
    width: 20%;
    display: block;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

.modalContent {
    background-color: #F7F7F7;
    margin: 6% auto;
    padding: 20px;
    width: 80%;
}

.closeModal {
    color: #3C9089;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover, .closeModal:focus {
    color: #265a56;
    text-decoration: none;
    cursor: pointer;
}

.title {
    text-align: center;
    color: #616161;

}

.formLabel {
    font-size: 20px;
}

.modalInput {
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #3C9089;
    width: 100%;
    /*border: 1px solid #3C9089;*/
    box-sizing: border-box;
    display: inline-block;
    /*padding: 12px 20px;*/
    margin: 10px 0;
    font-family: Catamaran, sans-serif;
    font-size: 16px;
}



.submitModal {
    font-family: Catamaran, sans-serif;
    font-size: 20px;
    width: 100%;
    background-color: #3C9089;
    color: #F7F7F7;
    border: none;
}

.submitModal:hover {
    background-color: #265a56;
    cursor: pointer;
}

<<<<<<< HEAD
}
=======


>>>>>>> ishaankolluri/master
